body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: ZH-Sans, Arial, "Lucida Sans Unicode", sans-serif;
}

#container {
    width: 50%;
    margin: auto;
    margin-top: 3%;
    border: 1px solid red;
    background: #fff;
  

}

/* .css {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    color: #1E1E1E;
    line-height: 1.35em;
    letter-spacing: 0em;

} */

#form-box {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    position: relative;
    height: 700px;
    overflow: hidden;
    color: #1E1E1E;
}

#top {
    width: 87%;
    display: flex;
    /* border: 3px solid grey; */
    justify-content: center;
    align-items: center;
}

#arrow-icon {
    margin-right: 10%;
}

.button-box {

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box>#Individual,
.button-box>#Company {
    margin: 10px 10px 10px 10px;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    border: none;
    border: 1px solid black;
    background-color: #fff;
    color: #1E1E1E;
    /* cursor: pointer; */

}

#Select {
    /* border:2px solid blue; */
    width: 60%;
    margin: auto;
}

.select {
    margin: 7% 0;
    width: 100%;
    border: none;
    outline: none;
    margin: auto;
    border-bottom: 1px solid black;
    margin: 15px 0;
    padding: 10px;

}

.input-group {
    width: 60%;
    margin-left: 20%;
    position: absolute;
    transition: .5s;
    color: #1E1E1E;
    /* cursor: pointer; */
}

.input-field {
    width: 95%;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-top: 0;
    border-bottom: 1px solid black;
    border-left: 0;
    border-right: 0;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    line-height: 1.85em;
    letter-spacing: 0em;
/* cursor: pointer; */
}
.checkbox {
    display: flex;
    width: 100%;

}

.checkbox>.check-box {
    margin: 5px 0px 0px 0;
    flex: 1;
    width: 100%;
    margin-left: -10px;
    height: 20px;
    width: 20px;
}

span {
    margin: 5px 0px 10px 0;
    flex: 9;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    line-height: 1.85em;
    letter-spacing: 0em;

}

.submit-btn:hover {
    background-color: #000;
    color: white;
}

.submit-btn {
    width: 100%;
    background-color: white;
    padding: 10px;
    margin: 20px 0 40px 0;
    outline: 0;
    border: none;
    display: block;
    border: 1px solid black;
}

#Indiviualreg {
    left: 0%;
}

#Companyreg {
    left: 97%;
}